# ignore everything in models/
models/*
# except class_map.json
!models/class_map.json

# Python artifacts
__pycache__/
*.pyc

# Virtual environment
.venv/
env/

# Data you don’t want in git
data/raw/
# ignore everything in data/external…
data/external/*
# …except the MVP votes CSV
!data/external/mvp_votes.csv



# IDE/editor
.vscode/
*.swp
